<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       
        <!-- Bootstrap CSS and JS-->
        <title>Social Network Analysis and Simulation</title>
        <link rel="stylesheet" href="/static/libs/bootstrap/css/bootstrap.min.css">
        <link href="/static/css/dashboard.css" rel="stylesheet">
        <link href="/static/libs/fontawesome/css/all.min.css" rel="stylesheet">
        
        <link href="/static/libs/chartist/chartist.min.css" rel="stylesheet">
        
        
        <meta charset="utf-8">
        <title></title>
        <style>
          #container {
            width: 100vw;
            height: 100vh;
          }

          #container > svg {
            width: 100%;
            height: 100%;
          }

          .node-normal {
            fill: #84BD00;
            stroke: #2c282c;
            stroke-width: 1.5px;
          }

          .link-normal {
            stroke: #848587;
            stroke-width: 1px;
            stroke-opacity: .75;
          }
        </style>

    </head>
<body>
    <body>
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
          <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">#Project name#</a>
        </nav>
       
        <div class="container-fluid">
          <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
              <div class="sidebar-sticky">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">
                      <span class="fas fa-home"></span>
                      Home <span class="sr-only">(current)</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <span class="fas fa-book-open"></span>
                      Documents
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <span class="far fa-hand-point-right"></span>
                      Examples
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <span class="fab fa-github"></span>
                      GitHub
                    </a>
                  </li>
                </ul>
    
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                  <span>Network</span>
                  <a class="d-flex align-items-center text-muted" href="#">
                    <span data-feather="plus-circle"></span>
                  </a>
                </h6>
                <ul class="nav flex-column mb-2">
                  <li class="nav-item" >
                    <a class="nav-link" href="#" id="SWG">
                      <span data-feather="file-text"></span>
                      Small World
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <span data-feather="file-text"></span>
                      PrefAttach
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <span data-feather="file-text"></span>
                      Random
                    </a>
                  </li>

                  <!--<li class="nav-item">
                    <a class="nav-link" href="#">
                      <span data-feather="file-text"></span>
                      Network4
                    </a>
                  </li> -->
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Simulation</span>
                    <a class="d-flex align-items-center text-muted" href="#">
                      <span data-feather="plus-circle"></span>
                    </a>
                  </h6>
                  <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                      <a class="nav-link" href="#" id="t">
                        <span data-feather="file-text"></span>
                        Threshold Model
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <span data-feather="file-text"></span>
                        Simulation2
                      </a>
                    </li>
                    
                  </ul>
              </div>
            </nav>
    
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
              
               <!-- <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                
                <div class="btn-toolbar mb-2 mb-md-0">
                  <div class="btn-group mr-2">
                    <button class="btn btn-sm btn-outline-secondary">Load</button>
                    <button class="btn btn-sm btn-outline-secondary">Export</button>
                  </div>
                  
                </div>
              </div> -->
              <div id="container"></div> 
              <div class="ct-chart ct-perfect-fourth" ></div>
  

            <!-- Modal -->
            <div class="modal fade" id="Dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Threshold Model</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col"><label for="nodes">Nodes</label></div>
                      <div class="col"><input type="number" id="node" name="nodes" min="1"></div>
                      <div class="w-100"></div>
                      <div class="col"><label for="edges">Edges</label></div>
                      <div class="col"><input type="number" id="edges" name="edges" min="0"></div>
                      <div class="w-100"></div>
                      <div class="col"><label for="infected">Infected</label></div>
                      <div class="col"><input type="number" id="infected" name="infected" min="0" max="1" step="1e-5" vaule="0.1"></div>
                      <div class="w-100"></div>
                      <div class="col"><label for="threshold">Threshold</label></div>
                      <div class="col"><input type="number" id="threshold" name="threshold" min="0" max="1" step="1e-5"></div>
                      <div class="w-100"></div>
                      <div class="col"><label for="iteration">Iteration</label></div>
                      <div class="col"><input type="number" id="iteration" name="iteration" min="1"></div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="run">Run</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- modal End-->
            
            <!-- Dialog for Small World -->
            <div class="modal fade" id="SWGDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Small World Graph Generator</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col"><label for="nodes">Nodes</label></div>
                      <div class="col"><input type="number" id="nodes" name="nodes" min="1"></div>
                      <div class="w-100"></div>
                      <div class="col"><label for="edges">Out Degree</label></div>
                      <div class="col"><input type="number" id="outdegree" name="edges" min="0"></div>
                      <div class="w-100"></div>
                      <div class="col"><label for="rewirepb">Rewire Probability</label></div>
                      <div class="col"><input type="number" id="rewirepb" name="infected" min="0" max="1" step="1e-5" vaule="0.1"></div>
                      <div class="w-100"></div>
        
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="SWGrun">Run</button>
                  </div>
                </div>
              </div>
            </div>
             <!-- Dialog for Small World -->


            </main>
          </div>
        </div>
    
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/static/libs/jquery-3.3.1.min.js" ></script>
        <script src="/static/libs/popper.min.js"></script>
        <script src="/static/libs/bootstrap/js/bootstrap.min.js"></script>
        
        <script src="/static/libs/f2.js"></script>
        <script src="/static/libs/chartist/chartist.min.js"></script>
        <script src="/static/libs/d3.min.js"></script>
        
    
    
        <script>
              let forceGraph = (options) => {
                  let anchor = options['anchor']
                  let nodeRadius = options['nodeRadius']

                  let svg = d3.select(anchor).append('svg')
                  let shapes = svg.append('g')
                  let zoom = (zoomView, minExtent, maxExtent) => d3.zoom().scaleExtent([minExtent, maxExtent]).on('zoom', () => zoomView.attr('transform', d3.event.transform))
                  svg.call(zoom(shapes, .25, 8))

                  let w = svg.node().parentNode.clientWidth
                  let h = svg.node().parentNode.clientHeight

                  let simulation = d3.forceSimulation()
                    .force('charge', d3.forceManyBody())
                    .force('center', d3.forceCenter(w / 2, h / 2))
                    .force('collide', d3.forceCollide(25))
                  let draggable = d3.drag()
                    .on('start', datum => {
                      if (!d3.event.active) simulation.alphaTarget(.3).restart()
                      datum.fx = datum.x
                      datum.fy = datum.y
                    })
                    .on('drag', datum => {
                      datum.fx = d3.event.x
                      datum.fy = d3.event.y
                    })
                    .on('end', datum => {
                      if (!d3.event.active) simulation.alphaTarget(0)
                      datum.fx = null
                      datum.fy = null
                    })

                  let bindLinks = (dataset, anchor) => {
                    let slots = anchor.selectAll('line').data(dataset)
                    slots.exit().remove()
                    let gLinks = slots.enter().append('line')
                      .merge(slots).attr('id', datum => 'l' + datum['id'])
                      .classed('link-normal', true)
                    return gLinks
                  }
                  
                  let bindNodes = (dataset, anchor) => {
                    let slots = anchor.selectAll('g').data(dataset)
                    slots.exit().remove()
                    let gNodes = slots.enter().append('g')
                    gNodes.append('circle').attr('r', nodeRadius).classed('node-normal', true)
                    gNodes = gNodes.merge(slots).attr('id', datum => datum.id).call(draggable)
                    return gNodes
                  }

                  let linkAnchor = shapes.append('g').classed('links', true)

                  let nodeAnchor = shapes.append('g').classed('nodes', true)

                  let importData = (nodeArr, linkArr) => {

                    let nodes = bindNodes(nodeArr, nodeAnchor)
                    let links = bindLinks(linkArr, linkAnchor)
                    
                    let ticked = () => {
                      links.attr('x1', (datum) => datum['source'].x)
                      .attr('y1', (datum) => datum['source'].y)
                      .attr('x2', (datum) => datum['target'].x)
                      .attr('y2', (datum) => datum['target'].y)

                      nodes.attr('transform', datum => `translate(${datum.x}, ${datum.y})`)
                    }

                    simulation.nodes(nodeArr).on('tick', ticked)
                    simulation.force('link', d3.forceLink(linkArr).id(datum => datum['id']))
                    simulation.alphaTarget(.3).restart()
                  }
                  return importData
                }

              let fg = forceGraph({
                  anchor: '#container',
                  nodeRadius: 10
                })

  
              /*$(document).ready(function(){
              $.ajax({
              url: "/simulator1",
              type:'POST',
              data: {key1: 234}
              }).done(function(res) {
              console.log(res);
              });    
              });*/
              
              $( "#t" ).click(function() {
                $('#Dialog').modal('show');
              });
              
              $( "#SWG" ).click(function() {
                $('#SWGDialog').modal('show');
              });
              
              $( "#SWGrun" ).click(function() {
                console.log($('#nodes').val())
                var nodes=parseInt($('#nodes').val());
                console.log(nodes)
                if(nodes<=0) {
                  nodes=Math.random()*10; }
                var outdegree=parseInt($('#outdegree').val());
                if(outdegree<0) {
                  outdegree=Math.random()*10; }
                var rewirepb=parseFloat($('#rewirepb').val());
                if(rewirepb<0) {
                  rewirepb=Math.random(); }
                
                $.ajax({
                url: "/smallworld",
                type:'POST',
                data: {"nodes":nodes,"outdegree":outdegree,"rewirepb":rewirepb}
                }).done(function(res) {
                //chartist
                var obj = JSON.parse(res)
                fg(obj['nodes'], obj['links']);
                    
                console.log(res)
                })
              });

              /*$( "#run" ).click(function() {
                var nodes=parseInt($('#nodes').val());
                if(nodes<=0) {
                  nodes=Math.random()*10;
                }
                var edges=parseInt($('#edges').val());
                if(nodes<0) {
                  edges=Math.random()*10;
                }
                var infected=parseFloat($('#infected').val());
                if(infected<0 || infected>1){
                  infected=Math.random();
                }
                var threshold=parseFloat($('#threshold').val());
                if(threshold<0 || threshold>1){
                  threshold=Math.random();
                }
                var iteration=parseInt($('#iteration').val());
                if(iteration<0){
                  iteration=Math.abs(iteration);
                }

                $.ajax({
                url: "/smallworld",
                type:'POST',
                data: {"nodes":nodes,"outdegree":outdegree,"infected":infected,"threshold":threshold,"iteration":iteration}
                }).done(function(res) {
                //chartist
                var obj = JSON.parse(res)
  
                new Chartist.Line('.ct-chart', obj);
                    
                console.log(res)
                })
              

                $.ajax({
                url: "/simulator1",
                type:'POST',
                data: {"nodes":nodes,"edges":edges,"rewirepb":rewirepb}
                }).done(function(res) {
                //chartist
                var obj = JSON.parse(res)
                
                
                new Chartist.Line('.ct-chart', obj);
                    
                console.log(res)
                })
              });*/

              

	
          </script>
</body>
</html>