<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<style>
		#container {
			width: 100vw;
			height: 100vh;
		}

		#container > svg {
			width: 100%;
			height: 100%;
		}

		.node-normal {
			fill: #84BD00;
			stroke: #2c282c;
			stroke-width: 1.5px;
		}

		.link-normal {
			stroke: #848587;
			stroke-width: 1px;
			stroke-opacity: .75;
		}
	</style>
</head>
<body>
	<div id="container"></div>
	<script src="../static/libs/d3.min.js"></script>
	<script>
		let graph = {
			"nodes": [
				{ "id": "n0", "name": "兽面纹" },
				{ "id": "n1", "name": "兽面纹玉琮" },
				{ "id": "n2", "name": "玉琮" },
				{ "id": "n3", "name": "湖北随州曾侯乙墓" }, 
				{ "id": "n4", "name": "卧兽云纹玉璧" }, 
				{ "id": "n5", "name": "玉石器" },
				{ "id": "n6", "name": "玉璧" }, 
				{ "id": "n7", "name": "战国早期" },
				{ "id": "n8", "name": "当阳李家凹子M13" }, 
				{ "id": "n9", "name": "湖北宜昌博物馆" }, 
				{ "id": "n10", "name": "云纹" } ,
				{ "id": "n11", "name": "湖北" } ,
				{ "id": "n12", "name": "楚文化" }, 
				{ "id": "n13", "name": "战国中期" },
				{ "id": "n14", "name": "江陵望山M2" },
				{ "id": "n15", "name": "湖北省博物馆" }, 
				{ "id": "n16", "name": "云纹大玉璧" }, 
				{ "id": "n17", "name": "《初论江陵望山楚墓的年代与墓主》" }
			],
			"links": [
				{ "id": "0", "source": "n0", "target": "n1", "relation":"纹饰" }, 
				{ "id": "1", "source": "n1", "target": "n2", "relation": "器类" },
				{ "id": "2", "source": "n1", "target": "n3", "relation": "出土墓葬" }, 
				{ "id": "3", "source": "n1", "target": "n15", "relation": "收藏" },
				{ "id": "4", "source": "n1", "target": "n7", "relation": "年代" }, 
				{ "id": "5", "source": "n2", "target": "n5", "relation": "关系" },
				{ "id": "6", "source": "n5", "target": "n6", "relation": "属于" }, 
				{ "id": "7", "source": "n10", "target": "n16", "relation": "纹饰" },
				{ "id": "8", "source": "n3", "target": "n11", "relation": "位于" }, 
				{ "id": "9", "source": "n4", "target": "n6", "relation": "器类" },
				{ "id": "10", "source": "n4", "target": "n7", "relation": "年代" }, 
				{ "id": "11", "source": "n4", "target": "n10", "relation": "纹饰" },
				{ "id": "12", "source": "n4", "target": "n8", "relation": "出土墓葬" }, 
				{ "id": "13", "source": "n4", "target": "n9", "relation": "收藏" },
				{ "id": "14", "source": "n8", "target": "n11", "relation": "位于" }, 
				{ "id": "15", "source": "n4", "target": "n12", "relation": "代表文化" },
				{ "id": "16", "source": "n12", "target": "n16", "relation": "代表文化" }, 
				{ "id": "17", "source": "n6", "target": "n16", "relation": "器类" },
				{ "id": "18", "source": "n12", "target": "n1", "relation": "代表文化" }, 
				{ "id": "19", "source": "n9", "target": "n11", "relation": "位于" },
				{ "id": "20", "source": "n11", "target": "n14", "relation": "位于" }, 
				{ "id": "21", "source": "n13", "target": "n16", "relation": "年代" }, 
				{ "id": "22", "source": "n14", "target": "n16", "relation": "出土墓葬" }, 
				{ "id": "23", "source": "n14", "target": "n17", "relation": "文献" }, 
				{ "id": "24", "source": "n15", "target": "n11", "relation": "位于" }, 
				{ "id": "25", "source": "n16", "target": "n15", "relation": "收藏" }
			]
		}

		let graph_x = {
			"nodes": [
				{ "id": "n0", "name": "兽面纹" },
				{ "id": "n1", "name": "兽面纹玉琮" },
				{ "id": "n2", "name": "玉琮" },
				{ "id": "n3", "name": "湖北随州曾侯乙墓" }, 
				{ "id": "n4", "name": "卧兽云纹玉璧" }, 
				{ "id": "n5", "name": "玉石器" },
				{ "id": "n6", "name": "玉璧" }, 
				{ "id": "n7", "name": "战国早期" },
				{ "id": "n8", "name": "当阳李家凹子M13" }, 
				{ "id": "n9", "name": "湖北宜昌博物馆" }, 
				{ "id": "n10", "name": "云纹" } ,
				{ "id": "n11", "name": "湖北" } ,
				{ "id": "n12", "name": "楚文化" }, 
				{ "id": "n13", "name": "战国中期" },
				{ "id": "n14", "name": "江陵望山M2" },
				{ "id": "n15", "name": "湖北省博物馆" }, 
				{ "id": "n16", "name": "云纹大玉璧" }, 
				{ "id": "n17", "name": "《初论江陵望山楚墓的年代与墓主》" }
			],
			"links": [{ "id": "0", "source": "n0", "target": "n1", "relation":"纹饰" }]
		}

		let forceGraph = (options) => {
			let anchor = options['anchor']
			let nodeRadius = options['nodeRadius']

			let svg = d3.select(anchor).append('svg')
			let shapes = svg.append('g')
			let zoom = (zoomView, minExtent, maxExtent) => d3.zoom().scaleExtent([minExtent, maxExtent]).on('zoom', () => zoomView.attr('transform', d3.event.transform))
			svg.call(zoom(shapes, .25, 8))

			let w = svg.node().parentNode.clientWidth
			let h = svg.node().parentNode.clientHeight

			let simulation = d3.forceSimulation()
				.force('charge', d3.forceManyBody())
				.force('center', d3.forceCenter(w / 2, h / 2))
				.force('collide', d3.forceCollide(25))
			let draggable = d3.drag()
				.on('start', datum => {
					if (!d3.event.active) simulation.alphaTarget(.3).restart()
					datum.fx = datum.x
					datum.fy = datum.y
				})
				.on('drag', datum => {
					datum.fx = d3.event.x
					datum.fy = d3.event.y
				})
				.on('end', datum => {
					if (!d3.event.active) simulation.alphaTarget(0)
					datum.fx = null
					datum.fy = null
				})

			let bindLinks = (dataset, anchor) => {
				let slots = anchor.selectAll('line').data(dataset)
				slots.exit().remove()
				let gLinks = slots.enter().append('line')
					.merge(slots).attr('id', datum => 'l' + datum['id'])
					.classed('link-normal', true)
				return gLinks
			}
			
			let bindNodes = (dataset, anchor) => {
				let slots = anchor.selectAll('g').data(dataset)
				slots.exit().remove()
				let gNodes = slots.enter().append('g')
				gNodes.append('circle').attr('r', nodeRadius).classed('node-normal', true)
				gNodes = gNodes.merge(slots).attr('id', datum => datum.id).call(draggable)
				return gNodes
			}

			let linkAnchor = shapes.append('g').classed('links', true)

			let nodeAnchor = shapes.append('g').classed('nodes', true)

			let importData = (nodeArr, linkArr) => {

				let nodes = bindNodes(nodeArr, nodeAnchor)
				let links = bindLinks(linkArr, linkAnchor)
				
				let ticked = () => {
					links.attr('x1', (datum) => datum['source'].x)
					.attr('y1', (datum) => datum['source'].y)
					.attr('x2', (datum) => datum['target'].x)
					.attr('y2', (datum) => datum['target'].y)

					nodes.attr('transform', datum => `translate(${datum.x}, ${datum.y})`)
				}

				simulation.nodes(nodeArr).on('tick', ticked)
				simulation.force('link', d3.forceLink(linkArr).id(datum => datum['id']))
				simulation.alphaTarget(.3).restart()
			}
			return importData
		}

		let fg = forceGraph({
			anchor: '#container',
			nodeRadius: 10
		})
		fg(graph['nodes'], graph['links'])
	</script>
</body>
</html>