.node-normal {
    fill: #84BD00;
    stroke: #2c282c;
    stroke-width: 1.5px;
}

.node-seed {
    fill: #e34f33;
    stroke: #2c282c;
    stroke-width: 1.5px;
}

.nodes > g > text {
    fill: #edf1ff;
    font-family: sans-serif;
    font-size: 10px;
}

.opinion {
    stroke: #f0c05a;
    stroke-width: 3px;
}

.link-normal {
    stroke: #848587;
    stroke-width: 1px;
    stroke-opacity: .75;
}

.bc-color-1 {
    fill: #F7F4FE;
}

.bc-color-2 {
    fill: #B8A0F7;
}

.bc-color-3 {
    fill: #8D65F4;
}

.bc-color-4 {
    fill: #652FF3;
}

.cc-color-1 {
    fill: #D9F8F6;
}

.cc-color-2 {
    fill: #8ADDD7;
}

.cc-color-3 {
    fill: #4FBDB5;
}

.cc-color-4 {
    fill: #189B91;
}

.dc-color-1 {
    fill: #FFF4F3;
}

.dc-color-2 {
    fill: #FFA49A;
}

.dc-color-3 {
    fill: #FF6858;
}

.dc-color-4 {
    fill: #FF2F19;
}

.ec-color-1 {
    fill: #FFFBF3;
}

.ec-color-2 {
    fill: #FFDF9A;
}

.ec-color-3 {
    fill: #FFC958;
}

.ec-color-4 {
    fill: #FFB519;
}

.community-color-0 {
    fill: #a9a9a9;
}

.community-color-1 {
    fill: #e6194B;
}

.community-color-2 {
    fill: #f58231;
}

.community-color-3 {
    fill: #ffe119;
}

.community-color-4 {
    fill: #bfef45;
}

.community-color-5 {
    fill: #3cb44b;
}

.community-color-6 {
    fill: #42d4f4;
}

.community-color-7 {
    fill: #4363d8;
}

.community-color-8 {
    fill: #911eb4;
}

.community-color-9 {
    fill: #f032e6;
}

.community-color-10 {
    fill: #fabebe;
}

.community-color-11 {
    fill: #ffd8b1;
}

.community-color-12 {
    fill: #fffac8;
}

.community-color-13 {
    fill: #aaffc3;
}

.community-color-14 {
    fill: #e6beff;
}

.community-color-15 {
    fill: #ffffff;
}

.community-color-16 {
    fill: #800000;
}

.community-color-17 {
    fill: #9A6324;
}

.community-color-18 {
    fill: #808000;
}

.community-color-19 {
    fill: #469990;
}

.community-color-20 {
    fill: #000075;
}
